.social-links {
  display: flex;
  align-items: center;
  gap: $space-x-small;

  > a {
    @include with-common-interaction;

    display: flex;
    align-items: center;
    justify-content: center;

    $size: 40px;

    width: $size;
    height: $size;
    border-radius: $size;

    font-size: $font-size-medium;

    color: $color-muted;
  }
}
